.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Number {
  padding: 10px;
  font-size: 15px;
}

.App {
  display: flex;
  border: 1px solid;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 600px;
  background-color: grey;
}

.ProsCons {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 600px;
  background: white;
}

.OneTwo {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 400px;
  width: 600px;
  background: white;
}

.Title {
flex-basis: 100%;
font-color: white;
font-size: 25px;
}

.Pros {
border: 1px solid silver;
flex-basis: 50%;
height: 30px;
text-align: center;
font-size: 20px;
}

.One {
border: 1px solid silver;
flex-basis: 50%;
overflow: auto;
}

.Cons {
border: 1px solid silver;
flex-basis: 50%;
height: 30px;
text-align: center;
font-size: 20px;
}

.Two {
border: 1px solid silver;
flex-basis: 50%;
overflow: auto;
}

.List {
  margin: 10px;
  border: none;
  font-size: 15px;
}